GEMINI_API_KEY=
APP_URL=
VITE_LEMON_SQUEEZY_TRIAL_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/6a55af9b-b545-40bd-a55d-9e55022abc6b
VITE_LEMON_SQUEEZY_MONTHLY_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/82e0d56b-82f8-42d5-88c4-44c547f540d6
VITE_LEMON_SQUEEZY_YEARLY_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/0be2aa11-aecf-4a78-8d2c-9e66317ab504
VITE_LEMON_SQUEEZY_STORE_URL=https://loosebudget.lemonsqueezy.com/my-orders
LEMON_SQUEEZY_WEBHOOK_SECRET=

