GEMINI_API_KEY=
APP_URL=
VITE_LEMON_SQUEEZY_TRIAL_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/6a55af9b-b545-40bd-a55d-9e55022abc6b
VITE_LEMON_SQUEEZY_MONTHLY_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/3d9f4b1d-c0db-48d7-b694-7dbf0f11d243
VITE_LEMON_SQUEEZY_YEARLY_URL=https://loosebudget.lemonsqueezy.com/checkout/buy/31565abb-965a-45f7-9ab5-14ed83529fd4
VITE_LEMON_SQUEEZY_STORE_URL=https://loosebudget.lemonsqueezy.com/my-orders
LEMON_SQUEEZY_WEBHOOK_SECRET=

